@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .default .footer { display: none; }
}
body .wrap #head,
body .wrap #belly,
body .wrap #foot { padding: 1em; }

body .wrap #head { position: relative; }
body .wrap #belly { margin: 0 auto; padding: 0 1em 1em; width: 50%; }
body .wrap #foot { text-align: right; }

@font-face {
    font-family: 'PatuaOneRegular';
    src: url('../fonts/PatuaOne-Regular-webfont.eot');
    src: url('../fonts/PatuaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PatuaOne-Regular-webfont.woff') format('woff'),
         url('../fonts/PatuaOne-Regular-webfont.ttf') format('truetype'),
         url('../fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background: #0a0a0a;
    color: #fafafa;
    font-family: PatuaOneRegular, Tahoma,Verdana,sans-serif;
    font-size: 1.5em;
}
a, a:link { color: orange !important; text-decoration: none; }
h1,h2 { text-transform: uppercase; color: #60ee60; }
h1 { font-size: 2em; margin: 0; }
code { 
    font-weight: bold; 
    background-color: lightgrey;
    color: #0a0a0a;
    padding: 4px;
}
p { margin: 10px 0; line-height: 1.5; font-size: 1.5em;}
#belly p { font-size: .75em; }
li { font-size: 1.5em; margin-bottom: 5px; }
.syntaxhighlighter {  padding: 0.5em !important; }
ol.twelve-factor { margin-left: 50px; }
ul.buildpacks li { line-height: 2.5; }
h1.title { font-size: 4em; }
